body {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
}

#work-pad {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap;

}

#draw-pad {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 2px solid black;
    flex-direction: column;
}

#options {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 1px dotted black;
    flex: 1;
}

button {
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background: linear-gradient(to right, #2980b9, #1f6691);
}